/* Style du conteneur modal */
.editGameInfo{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        h1 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        /* Style du titre */


        /* Style des côtés gauche et droit du conteneur */
        &__contenair {
            display: flex;
            justify-content: space-between;

            /* Style des côtés gauche et droit séparés */
            &_left-side,
            &_right-side {
                width: 48%;
            }

            &_left-side{
                span {
                    display: block;
                    margin-bottom: 10px;
                }
                label {
                    font-weight: bold;
                }
                input,select {
                    width: 100%;
                    padding: 8px;
                    margin-top: 5px;
                }
                  /* Style du bouton avancé */
                &_advanced-options {
                    button {
                        margin-top: 10px;
                    }
                }
                

            }
                /* Style du lecteur vidéo */
            &_right-side {
            
                button {
                    margin-top: 10px;
                }
                video {
                    width: 100%;
                    height: auto;
                    margin-top: 10px;

                }
    

            }



      
            /* Style des boutons */
            button {
                background-color: #007bff;
                color: white;
                padding: 10px;
                border: none;
                cursor: pointer;
            }

            button:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }

       

            /* Style du pied de page du modal */
            button {
                margin-top: 20px;
                background-color: #dc3545;
            }

        }
    &__btn{
      transform: skew(-25deg, -1deg);
    }
    
}
