.search {
  display: flex;
  position: relative;
  input {
    width: 500px;
    height: 4.7rem;
    transform: skew(-25deg, -2deg);
    border-radius: 3px;
    border: none;
    background-color: transparent;
    box-shadow: 0rem 0.1rem 0.8rem 0.1rem red;
    border: 2px solid red;
    color: white;
    padding: 10px;
  font-family: "Bungee";

    &::placeholder {
      color: white !important;
  font-family: "Bungee";

    }
    &::before {
      position: absolute;
      bottom: -0.1rem;
      left: 0;
      content: "";
      width: 100%;
      display: block;
      height: 0.5rem;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      &:hover {
        background-color: var(--txt-secondary-color);
      }
    }
  }

  &__icon {
    position: absolute;
    left: 460px;
    height: 35px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
}
