.tableGame {
  max-width: 90%;
  margin: 0 auto;
  color: var(--txt-primary-color);
}
tbody, thead{
  background-color: var(--bkg-secondary-color);
}
tbody {
  max-height: 80vh;
  display: block;
  overflow: scroll;
  margin: 50px auto;
  height: 80vh;
  scroll-behavior: smooth;
}
thead{
  th{
    background-color: transparent;
    color: var(--txt-primary-color);
  }
}
h1 {
  font-size: 1.5em;
  text-align: center;
}

input[type="search"] {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: none;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
tr.clickable:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

td img {
  display: block;
  margin: 0 auto;
}

span {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #a32727;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}
