@font-face {
    font-family: Codystar;
    src: url("../fonts/Codystar-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: K2d;
    src: url("../fonts/K2D-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: Bungee;
    src: url("../fonts/Bungee-Regular.ttf");
    font-weight: 700;
    font-display: swap;
}



